@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html
{
    scroll-behavior: smooth;
}

*,
*::before,
*::after
{
    box-sizing: border-box;
}

*
{
    font-family: 'Inter';

    margin: 0;

    text-decoration: none;
}

body
{
    background: #0A122E;

    position: relative;
}

body::-webkit-scrollbar
{
    display: none;
}

.container
{
    width: 1380px;
    margin: 0 auto;
}

.wrapper
{
    background: url(../img/blurbg.png) top no-repeat;

    padding-bottom: 48.5vh;
}

.main
{
    padding-top: 150px;
    margin: 0 auto;

    width: 75%;
}

.all-box
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.boxes
{
    width: 67%;
}

.cart-block
{
    display: flex;
    align-items: center;
    width: 100%;
}

.cart-text
{
    font-weight: 500;
    font-size: 18px;
    color: #ffe001;
}

.cart-info-box
{
    margin-right: 7px;
}

.cart-count-text
{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.clear-block
{
    background: rgba(25, 34, 60, 1);
    border-color: 1px solid #141b36;;
    padding: 14px 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.clear-block button
{
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.product-count-block
{
    background: rgba(25, 34, 60, 1);
    border: 1px solid #141b36;
    margin-top: 15px;
    padding: 25px 25px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-img-box img
{
    width: 50px;
    height: 25px;
}

.product-count-text-box p
{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}

.product-count-text-box .dark-text
{
    color: #adb5bd;
    font-size: 14px;
}

.total-number-box
{
    margin-right: 5px;
}

.total-number-box p
{
    color: #ffe001;
    font-weight: 600;
}

.cart-form-box
{
    width: 306px;
    border-radius: 4px;
    padding: 23px 22px;
    background: rgba(25, 34, 60, 1);
    border: 1px solid #141b36;
}

.product-name-box
{
    font-weight: 500;
    font-size: 18px;
    color: #ffe001;
}

.name-product
{
    color: #FFFFFF;
    font-size: 15px;
}

.product-amount-box
{
    margin-top: 11px;
}

.product-amount-box .product_item
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;
}

.product-amount-box .amount
{
    font-size: 14px;
    font-weight: 600;
    color: #ffe001;
}

.total-box
{
    display: flex;
    justify-content: space-between;
    border-top: #141b36 1px solid;
    padding-top: 10px;
}

.total-box p
{
    font-size: 14px;
    font-weight: 600;
    color: #ffe001;
}

.input-block
{
    margin-top: 20px;   
}

.input-block .input-coupon
{
    margin-bottom: 10px;
}

.input-block input
{
    background: #19223c;
    padding: 14px 16px;
    border: 1px solid #141b36;
    border-radius: 2px;
    font-weight: 400;
    font-size: 12px;
    color: #8a8e9b;
    width: 100%;
}

.button-box button
{
    color: #040400;
    padding: 11px 11px;
    width: 100%;
    background-color: #ffe001;
    border-radius: 2px;
    margin-top: 12px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.input-box
{
    margin-left: 70px;
    margin-right: 70px;
}

.input-box button
{

    font-weight: 600;
    background-color: transparent;
    border-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
}

.input-box input
{
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    text-align: center;
    background: rgba(20, 27, 54, .5);
    border: 1px solid #141b36;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
}

/* loading style */
.loading
{
    display: flex;
    justify-content: center;
}
svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
circle {
fill: none;
stroke: #ffe001;
stroke-width: 2;
stroke-dasharray: 1, 200;
stroke-dashoffset: 0;
stroke-linecap: round;
animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
100% {
    transform: rotate(360deg);
}
}

@keyframes dash4 {
0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
}

50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
}

100% {
    stroke-dashoffset: -125px;
}
}
   
  
/* loading style */