@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after
{
    box-sizing: border-box;
}

*
{
    font-family: 'Inter';

    margin: 0;

    text-decoration: none;
}

body
{
    background: #0A122E;

    position: relative;
}

body::-webkit-scrollbar
{
    display: none;
}

.container
{
    width: 1380px;

    margin: 0 auto;
}

.wrapper
{
    /* background: url(../img/blurbg.png) center no-repeat; */
}

.up-block
{
    display: flex;
}

.left-block
{
    width: 57%;
}

.right-block
{
    width: 43%;
    display: flex;
    justify-content: space-between;
}

.game-name-box
{
    margin-top: 75px;
}

.name-text
{
    color: #FFE001;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5em;
}

.info-box
{
    margin-top: 10px;
}

.info-text
{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
}

.input-box
{
    margin-top: 100px;
    margin-left: 50px;
    width: 100%;
}

.input-box input
{
    width: 100%;
    background: #161e39;
    border: transparent;
    outline: none;
    
    /* width: 500px; */
    border-radius: 8px;

    padding: 16px 16px 16px 40px;
    
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.input-box input::placeholder
{
    color: white;
}

.input-box img
{
    position: absolute;
    top: 0;
    
    margin-top: 116px;
    margin-left: 12px;

    z-index: 1;
}

.up-left-center-block
{
    display: flex;
    justify-content: center;
}

.text-os-block
{
    margin-top: 30px;
    background-color: #161E3980;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 8px 8px 0 0;
    text-align: center
}

.text-os-block p
{
    color: #FFE001;
    letter-spacing: 0.5em;
    font-weight: 600;
    font-size: 14px;
}

.left-center-block
{
    /* display: flex; */
    align-items: center;
}

.bottom-left-center-block
{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #161E3980;
}

.bottom-left-center-block button
{ 
    padding: 9px 27px;
    margin-right: 5px;
    margin-left: 5px;
    color: #FFE001;
    background-color: #151d42;
    border-color: transparent;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
}

.bottom-center-block
{
    display: flex;
    justify-content: center;
}