@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after
{
    box-sizing: border-box;
}

*
{
    font-family: 'Inter';

    margin: 0;

    text-decoration: none;
}

body
{
    background: #0A122E;

    position: relative;
}

body::-webkit-scrollbar
{
    display: none;
}

.container
{
    width: 1380px;

    margin: 0 auto;
}

.wrapper
{
    background: url(../img/bg.jpg) bottom no-repeat;

    padding-bottom: 8.7vh;
}

.up-block
{
    display: flex;
}

.left-block
{
    width: 57%;
}

.right-block
{
    width: 43%;
    display: flex;
    justify-content: space-between;
}

.game-name-box
{
    margin-top: 75px;
}

.name-text
{
    color: #FFE001;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5em;
}

.info-box
{
    margin-top: 10px;
}

.info-text
{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
}

.input-box
{
    margin-top: 100px;
    margin-left: 50px;
    width: 100%;
}

.input-box input
{
    width: 100%;
    background: #161e39;
    border: transparent;
    outline: none;
    
    /* width: 500px; */
    border-radius: 8px;

    padding: 16px 16px 16px 40px;
    
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.input-box input::placeholder
{
    color: white;
}

.input-box img
{
    position: absolute;
    top: 0;
    
    margin-top: 116px;
    margin-left: 12px;

    z-index: 1;
}

.product-block
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.text-block p
{
    color: #FFE001;
    background: rgba(22,30,57,.5);
    padding: 11px 6px 11px 11px;
    letter-spacing: 0.5em;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px 8px 0px 0px;
    align-items: center;
}

.text-block
{
    display: flex;
    justify-content: center;
}

.button-block
{
    padding: 15px;
    background: rgba(22,30,57,.5);
    border-radius: 8px;
}

.button-block button
{
    color: #FFE001;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    background: #151d42;
    border-radius: 4px;
    border-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 27px
}

.catalog-block
{
    display: grid;
    gap: 49px;
    grid-template-columns: repeat(auto-fit, minmax(0, 427px));

    min-height: 281px;

    margin-top: 50px;
}

.catalog-block .item
{
    width: 100%;
    height: 247px;

    position: relative;
}

.catalog-block .item .item-image
{
    position: relative;
}

.catalog-block .item .item-image img
{
    position: absolute;

    width: 100%;
    height: 247px;

    object-fit: cover;
    background-position: top;
}

.catalog-block .item .item-image p
{
    position: absolute;

    margin: 7px;

    font-size: 15px;
    font-weight: 600;
    color: white;

    background: rgba(0,0,0,.5);
    padding: 4px 12px;

    white-space: nowrap;
}

.catalog-block .item .item_bottom-block
{
    position: absolute;
    bottom: -1px;

    width: 100%;

    padding: 15px;

    background: #171c36;

    display: flex;
    align-items: center;
}

.catalog-block .item .item_bottom-block a
{
    font-size: 13px;
    font-weight: 600;
    color: #FFE001;

    display: flex;
    align-items: center;

    transition: 0.2s ease all;
}

.catalog-block .item .item_bottom-block a img
{
    margin-left: 8px;
}

.catalog-block .item .item_bottom-block a:hover
{
    opacity: .7;
}

.catalog-block .item .item_bottom-block .products-count
{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255,255,255,.4);
}

.catalog-block .item .item_bottom-block button
{
    background-color: #FFE001;
    border-color: transparent;
    border-radius: 5px;
    padding: 6px 25px; 
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;
    text-align: center;
}

.catalog-block .item .item_bottom-block .cart
{
    position: absolute;
    margin-left: 8px;
}

.catalog-block .item .item-image .green
{
    display: flex;
    color: #3ccc4f;
    background: rgba(60,204,79,.2);
    margin-left: 80px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
}