@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*,
*::before,
*::after
{
    box-sizing: border-box;
}

*
{
    font-family: 'Inter';

    margin: 0;

    text-decoration: none;
}

body
{
    background: #0A122E;

    position: relative;
}

.container
{
    width: 1380px;

    margin: 0 auto;

    z-index: 2;
}

.wrapper
{
    background: url(../img/bg.jpg) no-repeat bottom center;
}

.wrapper .main
{
    background: url(../img/bg.png) no-repeat top center;
}

/* main section */
.main-block
{
    display: flex;
    justify-content: space-between;

    padding-top: 130px;
}

.left-block
{
    width: 50%;

    display: flex;
    align-items: center;
}

.main-text
{
    font-weight: 600;
    font-size: 48px;
    color: #FFE001;
}

.description-text-box
{
    margin-top: 22px;
}

.description-text
{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
}

.button-box
{
    margin-top: 36px;
    display: flex;
    align-items: center;
}

.purshare-button
{
    font-size: 16px;
    font-weight: 600;
    color: #212121;

    background: #FFE001;

    border-radius: 4px;

    padding: 13px 25px 13px 25px;
    margin-right: 50px;

    transition: 0.2s ease all;
}

.purshare-button:hover
{
    opacity: .7;
}

.more-details-button
{
    font-weight: 600;
    font-size: 16px;
    color: #FFE001;
    margin-right: 8px;

    transition: 0.2s ease all;
}

.more-details-button:hover
{
    opacity: .7;
}

.logo-box
{
    width: 425px;
    height: 427.06px;
    padding: 65px 71px;
    background: rgba(22, 30, 57, 0.25);
    backdrop-filter: blur(32px);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box img
{
    width: 100%
}
/* main section */

/* announcements section */
.announcements-section
{
    padding-top: 75px;
}

.announcements_button-block
{
    margin-top: 14px;
    padding-bottom: 25px;
}

.announcements_button-block a
{
    font-size: 16px;
    font-weight: 600;
    color: #FFE001;

    display: flex;
    align-items: center;

    transition: 0.2s ease all;
}

.announcements_button-block a:hover
{
 opacity: .7;
}

.announcements_button-block a img
{
    margin-left: 8px;
}

.announcements_items-block
{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(0, 427px));
    justify-content: space-between;
}

.announcements_items-block .announcements-item
{
    width: 425px;
}

.announcements_items-block .announcements-item .announcements_image
{
    width: 425px;
    height: 160px;

    object-fit: cover;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.announcements_items-block .announcements-item .announcements_item-info
{
    height: 150px;

    background: #101834;

    padding: 15px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcements_items-block .announcements-item .announcements_item-info .announcements_item-date
{
    display: flex;
    align-items: center;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.announcements_items-block .announcements-item .announcements_item-info .announcements_item-date img
{
    margin-right: 4px;
}

.announcements_items-block .announcements-item .announcements_item-info .announcements_item-date p
{
    font-size: 10px;
    font-weight: 500;
    color: #4D5365;
}

.announcements_items-block .announcements-item .announcements_item-info .announcements_item-name p
{
    font-size: 16px;
    font-weight: 500;
    color: white;
} 

.announcements_items-block .announcements-item .announcements_item-info .announcements_item-description p
{
    font-size: 14px;
    font-weight: 400;
    color: #C3C5CB;
} 

.announcements_items-block .announcements-item .announcements_item-info .announcements_item-link a
{
    font-size: 16px;
    font-weight: 600;
    color: #FFE001;

    display: flex;
    align-items: center;

    transition: 0.2s ease all;
}

.announcements_items-block .announcements-item .announcements_item-info .announcements_item-link a:hover
{
    opacity: .7;
}

.announcements_items-block .announcements-item .announcements_item-info .announcements_item-link a img
{
    margin-left: 8px;
}
/* announcements section */

/* products section */
.name-block
{
    margin-bottom: 10px;
}

.name-block p
{
    font-size: 14px;
    font-weight: 600;
    color: #FFE001;
    letter-spacing: 0.5em;
}

.description-block
{
    max-width: 770px;
}

.description-block p
{
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.products-section
{
    padding-top: 75px;
}

.products-section .unification-block
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 50px;
}

.products-section .unification-block .products_search-block
{
    display: flex;
    align-items: center;

    position: relative;
}

.products-section .unification-block .products_search-block input
{
    background: #161e39;
    border: transparent;
    outline: none;
    
    width: 500px;
    border-radius: 8px;

    padding: 16px 16px 16px 40px;
    
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.products-section .unification-block .products_search-block input::placeholder
{
    color: white;
}

.products-section .unification-block .products_search-block img
{
    position: absolute;
    top: 0;
    
    margin-top: 16px;
    margin-left: 12px;

    z-index: 1;
}

.products_items-block
{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(0, 427px));
    justify-content: space-between;

    min-height: 281px;
}

.products_items-block .item
{
    width: 100%;
    height: 247px;

    position: relative;
}

.products_items-block .item .item-image
{
    position: relative;
}

.products_items-block .item .item-image img
{
    position: absolute;

    width: 100%;
}

.products_items-block .item .item-image p
{
    position: absolute;

    margin: 7px;

    font-size: 15px;
    font-weight: 600;
    color: white;

    background: rgba(0,0,0,.5);
    padding: 4px 12px;

    white-space: nowrap;
}

.products_items-block .item .item_bottom-block
{
    position: absolute;
    bottom: -1px;

    width: 100%;

    padding: 15px;

    background: #171c36;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products_items-block .item .item_bottom-block a
{
    font-size: 13px;
    font-weight: 600;
    color: #FFE001;

    display: flex;
    align-items: center;

    transition: 0.2s ease all;
}

.products_items-block .item .item_bottom-block a img
{
    margin-left: 8px;
}

.products_items-block .item .item_bottom-block a:hover
{
    opacity: .7;
}

.products_items-block .item .item_bottom-block .products-count
{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255,255,255,.4);
}
/* products section */

/* contacts section */
.contacts-section
{
    padding-top: 75px;
    padding-bottom: 66px;
}

.contacts_items-block
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
}

.contacts_items-block .contacts-item
{
    width: 425px;
    border-radius: 4px;

    display: flex;
    align-items: center;

    padding: 18px 50px;

    background: rgba(22,30,57,.25);
    backdrop-filter: blur(64px);
}

.contacts_items-block .contacts-item .contacts_item-image
{
    width: 64px;
    height: 64px;
    border-radius: 100%;

    margin-right: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #0a122e;
}

.contacts_items-block .contacts-item .contacts_item-info .contacts-header
{
    margin-bottom: 4px;

    font-size: 18px;
    font-weight: 600;
    color: white;
}

.contacts_items-block .contacts-item .contacts_item-info .contacts-link
{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);

    cursor: pointer;

    transition: 0.2s ease all;
}

.contacts_items-block .contacts-item .contacts_item-info .contacts-link:hover
{
    opacity: .7;
}
/* contacts section */