/* header */
@media (max-width: 1200px) 
{
    .header-container
    {
        width: 100%;

        padding: 0 20px;

        transition: 0.2s ease all;
    }

    .burger
    {
        display: block;
    }

    .navigation_choise_language__item-block
    {
        display: none;
    }

    .mobile__choise_language-active
    {
        display: block;
    }

    .navigation-block .navigation_center__item-block
    {
        display: none;
    }

    .navigation-block .navigation_right__item-block
    {
        display: none;
    }

    .navigation_burger-block
    {
        display: block;
    }
}

@media (max-width: 340px)
{
    .mobile_header-button_block
    {
        flex-direction: column;
    }
}

/* main page */
@media (max-width: 1200px) 
{
    .container
    {
        width: 100%;

        padding: 0 70px;
    }

    .wrapper .main
    {
        background-size: auto;
    }

    .main-block
    {
        flex-direction: column-reverse;
        align-items: center;
    }

    .left-block
    {
        width: auto;
    }
    
    .logo-box
    {
        margin-bottom: 50px;
    }

    .main-text
    {
        text-align: center;

        font-size: 32px;
    }

    .description-text-box
    {
        margin-top: 25px;
    }

    .description-text-box .description-text
    {
        text-align: center;
    }

    .button-box
    {
        justify-content: center;
    }

    .announcements_items-block
    {
        width: 100%;

        padding-bottom: 20px;
    }

    .announcements_items-block .announcements-item
    {
        min-width: 425px;
    }

    .description-block
    {
        max-width: 100%;
    }

    .products-section .unification-block .products_search-block
    {
        display: none;
    }
    
    .products_items-block
    {
        width: 100%;

        justify-content: center;
    }

    .products_items-block .item
    {
        min-width: 425px;
    }

    .contacts_items-block
    {
        flex-direction: column;
    }

    .contacts_items-block .contacts-item
    {
        width: 100%;

        margin-bottom: 15px;
    }
}

@media (max-width: 1042px)
{
    .products_items-block
    {
        display: flex;
        justify-content: flex-start;

        overflow-x: scroll;
    }
}

@media (max-width: 1025px)
{
    .announcements_items-block
    {
        display: flex;

        overflow-x: scroll;
    }
}

@media (max-width: 550px)
{
    .container
    {
        padding: 0 10px;
    }

    .logo-box
    {
        width: auto;
        height: auto;

        padding: 35px 51px;
    }

    .button-box
    {
        flex-direction: column;
    }

    .purshare-button
    {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contacts_items-block .contacts-item .contacts_item-info .contacts-header
    {
        font-size: 16px;
    }

    .contacts_items-block .contacts-item .contacts_item-info .contacts-link
    {
        font-size: 12px;
    }
    
    .contacts_items-block .contacts-item
    {
        padding: 18px 18px;
    }
}

/* game items page */
@media (max-width: 1200px)
{
    .right-block
    {
        display: none;
    }

    .product-block
    {
        flex-direction: column;
    }
    
    .button-block
    {
        display: flex;
        flex-direction: column;
    }

    .os-block
    {
        margin-bottom: 20px;
    }

    .cpu-block
    {
        margin-bottom: 20px;
    }

    .button-block:last-child
    {
        margin-bottom: 0;
    }

    .button-block button
    {
        margin-bottom: 15px;
    }

    .catalog-block .item .item_bottom-block button
    {
        white-space: nowrap;
    }

    .catalog-block .item .item_bottom-block a
    {
        white-space: nowrap;
    }
}

@media (max-width: 1042px)
{
    .catalog-block
    {
        justify-content: center;
    }

    .archive-wrapper
    {
        justify-content: center;
    }
}

@media (max-width: 460px)
{
    .catalog-block .item .item_bottom-block button
    {
        padding: 8px;
        margin-right: 20px;

        font-size: 8px;

        align-items: center;
    }

    .catalog-block .item .item_bottom-block a
    {
        font-size: 8px;
    }
}

/* cart */
@media (max-width: 1200px)
{
    .main
    {
        width: auto;
    }

    .all-box
    {
        flex-direction: column;
    }

    .boxes
    {
        width: 100%;

        margin-bottom: 20px;
    }

    .input-box
    {
        margin: 0;
    }

    .cart-form-box
    {
        width: 100%;
    }
}

@media (max-width: 760px) 
{
    .product-count-block
    {
        flex-direction: column;
    }

    .product-img-box
    {
        margin-bottom: 10px;
    }

    .product-img-box img
    {
        width: 180px;
        height: auto;
    }

    .product-count-text-box
    {
        margin-bottom: 10px;
    }

    .input-box
    {
        margin-bottom: 10px;
    }

    .total-number-box
    {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* payments */
@media (max-width: 703px)
{
    .select_cryptocurrencies-block .selected_method-wrapper
    {
        grid-template-columns: auto;
    }
}

@media (max-width: 550px)
{
    .close_button svg
    {
        margin-right: 0;
        margin-top: -40px;
    }

    .back-button
    {
        margin-left: 0;
        margin-top: -40px;
    }
}

/* item_game */
@media (max-width: 1200px)
{
    .item_wrapper .item_wrapper-main .item_button-block
    {
        display: flex;
        justify-content: center;
    }
}

/* confirm pay */
@media (max-width: 1200px)
{
    .payment_details-wrapper .payment_details-main
    {
        padding: 36px 60px;
    }

    .payment_details-wrapper .payment_details-main .payment_details-order_block .order_values .order_attribute
    {
        text-align: right;
    }

    .payment_details-wrapper .payment_details-main .payment_qrcode-block .allcoins_qrcode
    {
        flex-direction: column;
    }

    .payment_details-wrapper .payment_details-main .payment_qrcode-block .allcoins_qrcode .allcoins_info-block .allcoins_info_title p
    {
        text-align: center;

        margin-bottom: 10px;
    }

    .payment_details-wrapper .payment_details-main .payment_qrcode-block .allcoins_qrcode .allcoins_info-block .allcoins_info_desc p
    {
        text-align: center;
    }

    .payment_details-wrapper .payment_details-main .payment_qrcode-block .allcoins_qrcode .qrcode_block
    {
        display: flex;
        justify-content: center;

        margin-right: 0;
        margin-bottom: 10px;
    }

    .payment_details-wrapper .payment_details-main .payment_qrcode-block .allcoins_qrcode .allcoins_info-block .allcoins_info_desc p .span_text
    {
        word-wrap: break-word;
    }

    .payment_details-wrapper .payment_details-main .payment_details-product_name p
    {
        margin-bottom: 10px;
    }
}

@media (max-width: 600px)
{
    .payment_details-wrapper .payment_details-main .payment_qrcode-block .allcoins_qrcode .allcoins_info-block .allcoins_info_title p
    {
        font-size: 11px;
        text-align: center;

        margin-bottom: 10px;
    }

    .payment_details-wrapper .payment_details-main .payment_qrcode-block .allcoins_qrcode .allcoins_info-block .allcoins_info_desc p
    {
        font-size: 11px;
        text-align: center;
    }
}

/* archive */
@media (max-width: 460px)
{
    .archive-wrapper .announcements-item
    {
        width: 100%;
    }

    .archive-wrapper .announcements-item .announcements_image
    {
        width: 100%;
        height: auto;
    }

    .archive-wrapper .announcements-item .announcements_item-info
    {
        width: 100%;
    }
}

@media (max-width: 380px)
{
    .archive-wrapper .announcements-item .announcements_item-info .announcements_item-name p
    {
        font-size: 14px;
    }

    .archive-wrapper .announcements-item .announcements_item-info .announcements_item-description p
    {
        font-size: 12px;
    }

    .archive-wrapper .announcements-item .announcements_item-info .announcements_item-link a
    {
        font-size: 14px;
    }
}

/* announcements-page */
@media (max-width: 550px)
{
    .announcements_image-block img
    {
        height: auto;
    }
}

/* header */
@media (max-width: 550px)
{
    .burger_purshare-button
    {
        margin-bottom: 0;
        margin-right: 30px;
    }
}


@media (max-width: 340px)
{
    .burger_purshare-button
    {
        margin-bottom: 20px;
        margin-right: 0;
    }
}
