@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

html
{
    scroll-behavior: smooth;
}

*,
*::before,
*::after
{
    box-sizing: border-box;
}

*
{
    font-family: 'Montserrat';

    margin: 0;

    text-decoration: none !important;
}

body
{
    background: #131418;

    line-height: normal !important;
}

p
{
    margin: 0 !important;
}

.main-block
{
    display: flex;

    height: 100vh;
}

.left-menu
{
    min-width: 240px;

    border-right: 1px solid #202125;
}

.header_menu
{
    width: 100%;

    background: #1B1E23;

    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_text-block p
{
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.leave_button-block button
{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    background: transparent;
    border: transparent;

    cursor: pointer;
}

.leave_button-block button path
{
    transition: 0.2s ease all;
}

.leave_button-block button:hover path
{
    stroke: white;
}

.menu_links
{
    padding: 20px 20px;
}

.menu_links ul
{
    padding: 0;
    margin: 0;

    list-style: none;
}

.menu_links ul .pages_link
{
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    
    cursor: pointer;

    transition: 0.2s ease all;

    display: block;

    width: 180px;
    border-radius: 7px;

    font-size: 16px;
    font-weight: 600;
    color: #54595F;
    white-space: nowrap;
}

.menu_links ul .pages_link.active
{
    background: #262932;

    color: white;
}

.menu_links ul .pages_link:hover
{
    background: #262932;   

    color: white;
}

.menu_links ul .add_item-button
{
    width: 100%;
    height: 35px;
    border-radius: 5px;

    border: transparent;
    background: #dc3545;

    font-size: 15px;
    font-weight: 500;
    color: white;

    cursor: pointer;
}

.content-block
{
    width: 100%;
}

.content
{
    width: 100%;
    height: 100%;

    padding: 65px 45px;
    padding-right: 30px;

    display: none;
}

.admin_active
{
    display: block;
}

.edit_item-block
{
    display: none;
}

.content .stat-block
{
    padding-bottom: 40px;
}

.content .stat_header
{
    display: flex;
    justify-content: space-between;

    padding-bottom: 12px;
}

.content .stat_header .stat_title
{
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.content .stat_header .stat_date
{
    font-size: 21px;
    font-weight: 600;
    color: #878585;

    padding: 10px 25px;

    background: #262932;
    
    border-radius: 5px;
}

.content .stat_wrapper
{
    display: flex;
    justify-content: space-between;
}

.content .stat_wrapper .stat_card
{
    width: 500px;
    border-radius: 5px;

    background: #262932;

    padding: 18px;
    margin-right: 20px;
}

.content .stat_wrapper .stat_card:last-child
{
    margin-right: 0;
}

.content .stat_wrapper .stat_card .card_title
{
    font-size: 17px;
    font-weight: 600;
    color: white;

    padding-bottom: 20px;
}

.content .stat_wrapper .stat_card .card_desc
{
    font-size: 21px;
    font-weight: 600;
    color: white;

    padding-bottom: 5px;
}

.content .stat_wrapper .stat_card .card_desc span
{
    color: #4E9673;
}

.content .payments_block
{
    display: grid;
    gap: 28px;
    grid-template-columns: 66% 33%;
}

.content .payments_block .last_payments-header
{
    padding-bottom: 20px;
}

.content .payments_block .payments-title p
{
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.content .payments_block .payments-desc p
{
    font-size: 14px;
    font-weight: 600;
    color: #7F7F7F;
}

.last_payments-card
{
    height: 70px;
    border-radius: 5px;

    padding: 0 20px;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;

    background: #262932;
}

.last_payments-section
{
    width: 190px;

    display: flex;
    align-items: center;
}

.center
{
    justify-content: center;
}

.end
{
    justify-content: flex-end;
}

.last_payments-section .last_payments-img
{
    margin-right: 10px;
}

.last_payments-section .last_payments-text_block .title
{
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.last_payments-section .last_payments-text_block .email
{
    font-size: 11px;
    font-weight: 600;
    color: #818181;
}

.last_payments-section .last_payments-count
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last_payments-section .last_payments-count .title
{
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.last_payments-section .last_payments-count .desc
{
    font-size: 11px;
    font-weight: 600;
    color: #818181;
}

.last_payments-section .last_payments-cost_date
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.last_payments-section .last_payments-cost_date .cost
{
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.last_payments-section .last_payments-cost_date .date
{
    font-size: 11px;
    font-weight: 600;
    color: #818181;
}

.payments_method-header
{
    padding-bottom: 20px;
}

.payments_method-card
{
    height: 70px;
    border-radius: 5px;

    padding: 0 20px;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #262932;
}

.payments_method-card .payments_method-title
{
    display: flex;
    align-items: center;
}

.payments_method-card .payments_method-title p
{
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.payments_method-card .payments_method-title img
{
    width: 30px;

    margin-right: 14px;
}

.payments_method-card .payments_method-cost
{
    font-size: 17px;
    font-weight: 600;
    color: white;

    display: flex;
    justify-content: flex-end;
}

.nav-block
{
    width: 100%;

    display: grid;
    gap: 20px;
    grid-template-columns: 20px 228px 228px 228px 228px 228px 228px;

    padding-bottom: 20px;
    padding-left: 20px;

    font-size: 14px;
    font-weight: 600;
    color: white;
}

.promo
{
    grid-template-columns: 20px 145px 145px 110px 120px 90px 228px !important;
}

.payments
{
    /* gap: 40px !important; */
    grid-template-columns: 20px 75px 70px 290px 300px 90px 490px !important;
}

.payments_text
{
    white-space: nowrap;
}

.item
{
    width: 100%;
    border-radius: 5px;

    background: #262932;    

    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: 20px 228px 228px 228px 228px 228px 228px;

    padding: 10px 20px;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 400;
    color: white;
}

.id
{
    font-weight: 500;
}

.item p
{
    word-wrap: break-word;
}

.edit-button
{
    width: 135px;
    height: 35px;
    border-radius: 5px;

    border: transparent;
    background: #7F7F7F;

    font-size: 14px;
    font-weight: 500;
    color: white;

    cursor: pointer;
}

.delete-button
{
    width: 85px;
    height: 35px;
    border-radius: 5px;

    border: transparent;
    background: #dc3545;

    font-size: 14px;
    font-weight: 500;
    color: white;

    cursor: pointer;
}

.button-block
{
    width: 228px;
}

.add_item-block
{
    display: none;
}

.container
{
    width: 100%;
    height: 100vh;

    padding: 65px 45px;
}

.add_item-header
{
    display: flex;
    align-items: center;
}

.add_item-header button
{
    height: 25px;
    margin-right: 10px;

    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: transparent;
    background: transparent;

    cursor: pointer;
}

.add_item-header .title
{
    font-size: 21px;
    font-weight: 600;
    color: white;
}

.add_item-wrapper
{
    margin-top: 25px;
}

.add_item
{
    width: 800px;
    height: 40px;
    border-radius: 5px;

    border: 1px solid #dad9d9;
    background: white;

    display: flex;
    align-items: center;

    padding: 10px 0;
    margin-bottom: 15px;

    appearance: none;

    outline: transparent;
}

.pl
{
    padding-left: 15px;
}

.add_item label
{
    height: 40px;
    border-radius: 5px 0 0 5px;

    display: flex;
    align-items: center;

    padding: 0 20px;
    margin-right: 20px;

    background: #ececec;
    border: 1px solid #dad9d9;

    cursor: pointer;
}

.create_button
{
    width: 150px;
    height: 35px;
    border-radius: 5px;

    border: transparent;
    background: #4E9673;

    font-size: 16px;
    font-weight: 500;
    color: white;

    cursor: pointer;
}

.edit_item-header
{
    display: flex;
    align-items: center;
}

.edit_item-header button
{
    height: 25px;
    margin-right: 10px;

    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: transparent;
    background: transparent;

    cursor: pointer;

    transition: 0.2s ease all;
}

.edit_item-header button:hover path
{
    stroke: white;
}

.edit_item-header .title
{
    font-size: 21px;
    font-weight: 600;
    color: white;
}

.edit_item-wrapper
{
    margin-top: 25px;
}

.sellers_status
{
    width: 100px;
    height: 30px;
    border-radius: 5px;

    background: #198754;

    font-size: 15px;
    font-weight: 500;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.open
{
    display: block;
}

.center_text
{
    text-align: center;
}